<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>鱼猫的小窝</title>
<link href="/static/css/styles.css" rel="stylesheet">
<link href="/static/css/animation.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="/static/css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <nav id="nav">
    <ul>
      <li><a href="/" >网站首页</a></li>
      <li><a href="/file/" target="_blank" title="文件">文件</a></li>
      <li><a href="/article/" target="_blank" title="文章">文章</a></li>
      <li><a href="/ym7/" target="_blank" title="笔记">笔记</a></li>


    </ul>
    <script src="/static/js/silder.js"></script><!--获取当前页导航 高亮显示标题--> 
  </nav>
</header>
<!--header end-->
<div id="mainbody">
  <div class="info">
    <figure> <img src="/static/images/art.jpg"  alt="Panama Hat">
      <figcaption><strong>走自己的路，嗯</strong>
       以前总觉得性格内向太吃亏，直到自己想明白，不管是哪种性格，学会接受自己尊重自己原有的性格是很重要的。越是做自己，就做得越好。
  朋友，如果你要真正治愈“社交恐惧症”，你所要做的不是很多成功学家所说的“走出自我、改变性格”。你要做的是让自己更牛逼，让自己能够吸引更多志同道合的有趣的人，让自己拥有去拒绝那些你觉得无聊的人的勇气。不要让这种痛苦、纠结又无聊繁琐的社交占据你的时间和思维，去做你自己真正热爱的事情！当你做好这些事情之后，你将会发现，你不仅拥有名与利，你更拥有了真正与你坦诚的好朋友。</figcaption>
    </figure>
    <div class="card">
      <h1>我的名片</h1>
      <p>网名：低调的瓦拉内</p>
      <p>职业：学生</p>
      <p>微信：yml2786</p>
      <p>Email：947801604@qq.com</p>
      <ul class="linkmore">
        <li><a href="/" class="talk" title="给我留言"></a></li>
        <li><a href="/" class="address" title="联系地址"></a></li>
        <li><a href="/" class="email" title="给我写信"></a></li>
        <li><a href="/" class="photos" title="生活照片"></a></li>
        <li><a href="/" class="heart" title="关注我"></a></li>
      </ul>
    </div>
  </div>
  <!--info end-->
  <div class="blank"></div>
  <div class="blogs">
    <ul class="bloglist">
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="/" target="_blank">worldpress转django</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="/static/images/s1.jpg"></a>
            <p> the django book中英对照着看了蛮多，感觉转django的时机已经成熟，找了个很对胃口的模板就开工了。本网站为个人博客，由django+uwsgi+nginx搭建，欢迎小伙伴们来玩（虽然没什么能玩的）~~</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#"></a></li>
            <li class="comments"><a href="#"></a></li>
            <li class="icon-time"><a href="#">2017-8-1</a></li>
          </ul>
        </div>
        <!--arrow_box end--> 
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          
          <h2 class="title"><a href="/" target="_blank">十冠之心</a></h2>
          <ul class="textinfo">
            <p>
              <iframe src="//player.bilibili.com/player.html?aid=1404277&cid=2118477&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="580" height="480"> </iframe>
            </p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#"></a></li>
            <li class="comments"><a href="#"></a></li>
            <li class="icon-time"><a href="#">2017-8-2</a></li>
          </ul>
        </div>
        <!--arrow_box end--> 
      </li>

            <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="/" target="_blank">2014世界杯 送别法兰西</a></h2>
          <ul class="textinfo">
            <p>
              <iframe src="//player.bilibili.com/player.html?aid=5129694&cid=8334210&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="580" height="480"> </iframe>
             </p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#"></a></li>
            <li class="comments"><a href="#"></a></li>
            <li class="icon-time"><a href="#">2017-8-2</a></li>
          </ul>
        </div>
        <!--arrow_box end-->
      </li>


      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="/" target="_blank">坂井泉水</a></h2>
          <ul class="textinfo">
            <p>
              <iframe src="//player.bilibili.com/player.html?aid=514970&cid=771358&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="580" height="480"> </iframe>
            <!--embed id="STK_137722048114034" style="visibility: visible;" src="http://static.hdslb.com/miniloader.swf?aid=514970&amp;page=1" type="application/x-shockwave-flash" width="580" height="480"-->
            </p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">15</a></li>
            <li class="comments"><a href="#">2</a></li>
            <li class="icon-time"><a href="#">2013-8-7</a></li>
          </ul>
        </div>

        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="/" target="_blank">2011元旦文艺汇演  一粒高</a></h2>
          <ul class="textinfo">
            <p>
            <embed width="580" height="480" name="plugin" id="plugin" src="http://cache.tv.qq.com/qqplayerout.swf?vid=72rmJmKrqHq" type="application/x-shockwave-flash">
            </p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#"></a></li>
            <li class="comments"><a href="#"></a></li>
            <li class="icon-time"><a href="#">2017-8-2</a></li>
          </ul>
        </div>
        <!--arrow_box end--> 
      </li>
    </ul>
    <!--bloglist end-->
    <aside>
      <div class="tuijian">
        <h2>推荐文章</h2>
        <ol>
          <li><span><strong>1</strong></span><a href="/">miao</a></li>
          <li><span><strong>2</strong></span><a href="/"></a></li>
          <li><span><strong>3</strong></span><a href="/"></a></li>
          <li><span><strong>4</strong></span><a href="/"></a></li>
          <li><span><strong>5</strong></span><a href="/"></a></li>
          <li><span><strong>6</strong></span><a href="/"></a></li>
          <li><span><strong>7</strong></span><a href="/"></a></li>
          <li><span><strong>8</strong></span><a href="/"></a></li>
          <li><span><strong>9</strong></span><a href="/"></a></li>
        </ol>
      </div>
      <div class="toppic">
      </div>
      <div class="clicks">
        <h2>热门点击</h2>
        <ol>
          <li><span><a href="/">慢生活</a></span><a href="/">miao</a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
          <li><span><a href="/"></a></span><a href="/"></a></li>
        </ol>
      </div>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="viny">
        <dl>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=400 src="//music.163.com/outchain/player?type=0&id=753200530&auto=1&height=430">
  
</iframe>
          
          </dd>
          <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
        </dl>
      </div>
    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->
<footer>
  <div class="footer-mid">
    <div class="links">
      <h2>友情链接</h2>
      <ul>
        <li><a href="/"></a></li>
        <li><a href="http://www.">miao</a></li>
      </ul>
    </div>
    <div class="visitors">
      <h2>最新评论</h2>
      <dl>
        <dt><img src="/static/images/s8.jpg">
        <dt>
        <dd>DanceSmile
          <time>49分钟前</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/jstt/bj/2013-07-28/530.html" class="title">如果要学习web前端开发，需要学习什么？ </a>中评论：</dd>
        <dd>文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</dd>
      </dl>
      <dl>
        <dt><img src="/static/images/s7.jpg">
        <dt>
        <dd>yisa
          <time>2小时前</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/news/s/2013-07-31/533.html" class="title">芭蕾女孩的心事儿</a>中评论：</dd>
        <dd>我手机里面也有这样一个号码存在</dd>
      </dl>
      <dl>
        <dt><img src="/static/images/s6.jpg">
        <dt>
        <dd>小林博客
          <time>8月7日</time>
        </dd>
        <dd>在 <a href="http://www.yangqq.com/jstt/bj/2013-06-18/285.html" class="title">如果个人博客网站再没有价值，你还会坚持吗？ </a>中评论：</dd>
        <dd>博客色彩丰富，很是好看</dd>
      </dl>
    </div>
    <section class="flickr">
      <h2>摄影作品</h2>
      <ul>
        <li><a href="/"><img src="/static/images/01.jpg"></a></li>
        <li><a href="/"><img src="/static/images/02.jpg"></a></li>
        <li><a href="/"><img src="/static/images/03.jpg"></a></li>
        <li><a href="/"><img src="/static/images/04.jpg"></a></li>
        <li><a href="/"><img src="/static/images/05.jpg"></a></li>
        <li><a href="/"><img src="/static/images/06.jpg"></a></li>
        <li><a href="/"><img src="/static/images/07.jpg"></a></li>
        <li><a href="/"><img src="/static/images/08.jpg"></a></li>
        <li><a href="/"><img src="/static/images/09.jpg"></a></li>
      </ul>
    </section>
  </div>
  <div class="footer-bottom">
    <p>Copyright 2013 Design by <a href="http://www.yangqq.com">DanceSmile</a></p>
  </div>

</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8d47ff3293bc81dd841f858fcd22be16";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1262242599'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1262242599' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>