
{{define "views/sysuser.html"}}
{{template "header"}}
<h1>用户管理</h1>
    <!--form action="/lib" method="get">
        <button type="submit">返回目录</button></form-->
    <form name="from" method = 'post' enctype="multipart/form-data">
        <p><input type="text" name="select" >
            <button onclick="selectAction()" type="submit">
                查询
            </button>
        </p>

        <p>用户名：<input type="text" name="user_code">
            密码：<input type="text" name="user_pwd">
            姓名：<input type="text" name="user_name">
            <button onclick="adduser()" type="button">
                添加
            </button>
        </p>
            <!--input type="text" class="form-control"-->



    </form>

    <br />
    <form class="info" action="/sysuserdb" method="post">
        <ul>
            <a id="btn0"></a>
            <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a> 条 </a> <a href="#" id="pageSizeSet">设置</a>&nbsp;
            <a id="sjzl"></a>&nbsp;
            <a  href="#" id="btn1">首页</a>
            <a  href="#" id="btn2">上一页</a>
            <a  href="#" id="btn3">下一页</a>
            <a  href="#" id="btn4">尾页</a>&nbsp;
            <a>转到&nbsp;</a>
            <input id="changePage" type="text" size="1" maxlength="4"/>
            <a>页&nbsp;</a>
            <a  href="#" id="btn5">跳转</a>
        </ul>
            <!--table id="mytable" align="center"-->
        <div id="app">
            <table id="mytable" border="1" width="1000">
                <tr>
                    <th>id</th>
                    <th>用户名</th>
                    <th>姓名</th>
                    <th>操作</th>

                </tr>
                {{with .data}}
                {{range .}}
                <tr>
                    <th>{{.Id}}</th>
                    <th>{{.User_code}}</th>
                    <th>{{.User_name}}<router-link to="/foo"><button type="submit" name="test" value="">测试</button>
                    </router-link></th>
                    <th>
                        <form action="/sysuserdb" method="post">
                        <button type="submit" name="shanchu" value="">删除</button>
                        <button type="submit" name="xiugai" value="">修改用户名</button>
                        <button onclick="cuserdb()" type="submit" name="cuserdb" value={{.Id}}>修改数据库权限</button>

                    </form> </th>

                </tr>
                {{end}}
                {{end}}
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">
    function selectAction(){
        //alert("被点击");
        document.from.action="/selectsysuser";//提交的url
        document.from.submit();
    }
    function adduser(){
        document.from.action="/addsysuser/";//提交的url
        document.from.submit();
    }
    function cuserdb(){
        document.from.action="/sysuserdb/";//提交的url
        document.from.button();
    }
    const Foo = { template: '<div>foo</div>' }
    const Bar = { template: '<div>bar</div>' }

    // 2. 定义路由
    // 每个路由应该映射一个组件。 其中"component" 可以是
    // 通过 Vue.extend() 创建的组件构造器，
    // 或者，只是一个组件配置对象。
    // 我们晚点再讨论嵌套路由。
    const routes = [
        { path: '/foo', component: Foo },
        { path: '/bar', component: Bar }
    ]

    // 3. 创建 router 实例，然后传 `routes` 配置
    // 你还可以传别的配置参数, 不过先这么简单着吧。
    const router = new VueRouter({
        routes // (缩写) 相当于 routes: routes
    })

    // 4. 创建和挂载根实例。
    // 记得要通过 router 配置参数注入路由，
    // 从而让整个应用都有路由功能
    const app = new Vue({
        router
    }).$mount('#app')
</script>

{{template "js"}}
{{end}}



