{{define "views/testvue2.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/Semantic-UI-2.2.6/semantic.css">

    <script src="/static/Semantic-UI-2.2.6/semantic.js"></script>
    <script src="/static/js/vue-2.5.17/vue.js"></script>
    <script src="/static/node_modules/axios/dist/axios.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
<div id="example">
    <p>Original message: "{{ .a }}"<span v-html="message"></span></p>
    <p>Computed reversed message: "{{ .reversedMessage }}"<span v-html="reversedMessage"></span></p>
</div>
<ul id="example-1">
    <li v-for="(item, index) in items">
        <span v-html="item.message"></span>
        -
        <span v-html="index"></span>
    </li>
</ul>

<input v-model="a" placeholder="edit me">
<p>Message is: {{.a}}<span v-html="a"></span></p>


<div id="example-5">
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: <span v-html="selected"></span>
</div>
<div>
    <span v-for="n in a">{{.n}} </span>
</div>

<div id="components-demo">
    <button-counter></button-counter>
</div>

</body>
<script>

    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me <span v-html="count"></span>{{ .count }} times.</button>'

    })
    axios.post('/testsql',{
            user_id : 467,
            db_id : 1,
            user_have : true
    })
        .then(function(res){
            console.log(res.data);
            console.log(res.status);
            console.log(res.statusText);
            console.log(res.headers);
            console.log(res.config);
        })

    new Vue({ el: '#components-demo' })

    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    })
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })
var vm = new Vue({
el: '#example',
data: {
message: 'Hello'
},
computed: {
// 计算属性的 getter
reversedMessage: function () {
// `this` 指向 vm 实例
return this.message.split('').reverse().join('')
}
}
})
    </script>
{{end}}